<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="gardn.codeforgood.com.gardn_android" >

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".activity.MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.CommunityGardenActivity"
            android:label="@string/title_activity_community_garden" >
        </activity>
        <activity
            android:name=".activity.SearchFieldsActivity"
            android:label="@string/title_activity_search_fields" >
        </activity>
        <activity
            android:name=".activity.PostPageActivity"
            android:label="@string/title_activity_post_page" >
        </activity>
        <activity
            android:name=".activity.PostResultsActivity"
            android:label="@string/title_activity_post_results" >
        </activity>
    </application>

</manifest>
